.footer
    .footer__logo
        img(src='/img/logo-blue.png' alt='Natoural Tours logo')
    ul.footer__nav
        li: a(href='/aboutus') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a guide
        li: a(href='/careers') Careers
        li: a(href='/contactus') Contact
    p.footer__copyright &copy; by Natoural Tours. All rights reserved.