extends baseEmail

block content
    p Hi #{firstName},
        p Set your password from #{url}.
        p Or click on the button below.
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Set password
        p If you didn't signup to app, please ignore this email!
